/* Browsers have default styles */
/* REMOVE ALL by targeting an '*' */
* {
    padding: 0;
    margin: 0;
}

/*
background-image: linear-gradient(red, yellow);
*/

.lj-outline {
    /*color: white;*/
    -webkit-text-stroke: 0.6px black;  /* Outline thickness and color */
  }

.lj-center {
    /*centralize the contents vert and horizontaly*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lj-title-bg {
    background-color: rgba(0, 255, 255, 0.5);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}

body {
    background-color: black;
    background-image: url(images/stars.jpg);
}

header {
    background-color:rgba(0,0,0,0.5);
    height: 20vh;/*viewport height*/
    /*Add background pic*/
    /*background-image: url(images/Space.jpg);*/
}

/*Change heading 1 color and center*/
header h1{
    color:aqua;
    font-weight: bold;
    /*centralize*/
    text-align: center;
}

main {
    color: white;
    /*background-color: blueviolet;
    background-image: url(images/stars.jpg);*/
    background-size: 100% 100%;
    height: auto;/*viewport height*/
}

main section {
    /* border: solid 2px; */
    margin: 20px;
    margin-left: 34px;
    margin-right: 34px;
}

main section h1, p, button {
    margin: 20px;
    padding: 20px;
}

footer {
    color: aqua;
    background-color: rgba(0,0,0,0.5);
    height: 10vh;/*viewport height*/
    padding: 10px;
}

button {
    background-color: rgba(0, 255, 255,0.5);
    color: white;
    border: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}
button:hover {
    background-color: rgba(0,0,0,0.5);
}